body{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
.header{
    height: 110vh;
    width: 100%;
    background: url("../images/img1.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
.main{
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    color:#ffffff;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    padding: 10px 26px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background: black;
    color: #ffffff;
}