.bg-dark {
    background-color: #04204e !important;
}
.navbar-brand{
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
}
.navbar-brand .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

}
.navbar-brand .navbar-nav .nav-item{
    margin: 0 15px;
}
.carousel-caption h5{
    font-size: 28px;
}
img{
    height: 600px;
}
h3{
    
    text-align: center;
}

.row{
    padding: 56px;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: auto;
    align-content: center;

footer{
    background-color: #04204e !important;
    color: azure;
}